/* ****************** */
/* GENERAL */
/* ****************** */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

.header,
.hero {
  max-width: 1440px;
  margin: 0 auto;
}

/* Colors 
  #6C6C6C
  #EBEBEB;
  #AC1313
  
  */

/* Animation 
0.4s

*/
