/* ****************** */
/* HEADER */
/* ****************** */

.header {
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  align-items: baseline;

  padding: 13px 135px 38px 135px;
}

.logo-link:link,
.logo-link:visited {
  text-decoration: none;
  color: #000;
  transition: 0.4s;
  width: fit-content;
}

.logo-link:hover,
.logo-link:active {
  color: #ac1313;
}

.logo {
  font-family: "Pacifico", cursive;
  font-size: 33px;
  line-height: 40px;

  display: flex;
  align-items: center;
}

.header-nav {
  justify-self: end;
}

.header-nav-list {
  list-style: none;
  display: flex;
  column-gap: 40px;
  margin-right: 24px;
}

.header-nav-list li {
  display: flex;
  align-items: center;
}

.header-nav-link:link,
.header-nav-link:visited {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  color: #6c6c6c;
  text-decoration: none;
  transition: 0.4s;
}

.header-nav-link:active,
.header-nav-link:hover {
  color: #ac1313;
}

.cart-container {
  justify-self: end;
  padding: 0 15px;
  position: relative;
}

.cart-container::before {
  content: "";
  display: block;
  width: 1px;
  height: 38px;
  background-color: #ebebeb;

  position: absolute;
  top: 0;
  left: 0;
}

.cart-link:link,
.cart-link:visited {
  text-decoration: none;
  color: #000;
  transition: 0.4s;

  display: flex;
  align-items: center;
  column-gap: 6px;

  transform: translateY(30%);
}

.cart-link:hover,
.cart-link:active {
  color: #ac1313;
  fill: #ac1313;
}

.cart-icon {
}

.cart-caption {
  text-transform: capitalize;
}

/* ****************** */
/* HERO */
/* ****************** */

.hero {
  background-image: url("../img/hero-background.jpg");
  padding: 199px 33px 199px 135px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  position: relative;
}

.hero-description-container {
}

.hero-capture {
  font-family: "Poppins", sans-serif;
  color: #d77474;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.hero-header {
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 14px;
}

.hero-text {
  color: #6c6c6c;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 51px;
}

.hero-img-container {
  position: absolute;
  right: 33px;
  top: 50%;
  transform: translateY(-50%);
}

.ampersand-sign {
  font-family: "Playfair Display", serif;
  font-size: 68px;
  line-height: 68px;
  color: #ac1313;
}
